<div class="products">
    <div class="container">
        <div class="mainClass">
            <ul class="productList">
                <!-- <li *ngFor="let product of products" class="productCard">
                    <div class="productImg">
                        <img [src]="product.image" class="img-prod">
                    </div>
                    <div class="productDesc">
                        <p>{{ product.name }}</p>
                        <p class="desc">{{ getProductDescribe(product) }}</p>
                    </div>
                    <div class="buyButton" *ngIf="!product.count">
                        <button (click)="addProduct(product)">Добавить +</button>
                    </div>
                    <div class="addedButton" *ngIf="product.count">
                        <button (click)="decreaseProduct(product)">-</button>
                        {{ product.count }}
                        <button (click)="addProduct(product)">+</button>
                    </div>
                </li> -->

                <li *ngFor="let fruit of fruits" class="productCard">
                    <div class="productImg">
                        <img [src]="fruit.image" class="img-prod">
                    </div>
                    <div class="productDesc">
                        <p>{{ fruit.name }}</p>
                        <p class="desc">{{ getProductDescribe(fruit) }}</p>
                    </div>
                    <div class="buyButton" *ngIf="!fruit.count">
                        <button (click)="addProduct(fruit)">Добавить +</button>
                    </div>
                    <div class="addedButton" *ngIf="fruit.count">
                        <button (click)="decreaseProduct(fruit)">-</button>
                        {{ fruit.count }}
                        <button (click)="addProduct(fruit)">+</button>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cart">
            <app-cart></app-cart>
        </div>
    </div>
</div>
