.products{
    font-weight: 600;
}

.productCard{
    width: 180px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.productDesc ,.buyButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.productDesc p{
    margin: 0;
    padding: 0;
    margin-bottom: 0.5px;
}

.productDesc :hover{
    color: #53c95a;
    cursor: pointer;
}


.productDesc .desc{
    color: rgba(134, 134, 134, 0.65);
}

.productCard img{
    width: 150px;
    height: 120px;
}

.productImg{
    padding: 45px 15px;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

li div{
    margin-bottom: 10px;
}

.buyButton button{
    background-color: #f5f5f5;
    border: none;
    font-weight: 600;
    color: #565656;
    border-radius: 10px;
    padding: 1px 8px;
}

.buyButton button:hover{
    background-color: #999c9f;
    cursor: pointer;
}

.addedButton {
    display: flex;
    font-size: 13.3px;
    border-radius: 10px;
    background-color: #2DB333;
    color: white;
    gap: 1px;
    height: 15.5px;
    padding: 1px 8px;
    align-self: flex-start;
}

.addedButton button {
    color: white;
    border: none;
    background: none;
    font-weight: 600;
    padding: 1px 8px;
}

.addedButton button:hover {
    cursor: pointer;
    color: #999c9f;
}

.img-prod {
  object-fit: contain;
}

.productList {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.container {
    display: flex;
}

.cart {
    flex-grow: 1;
}
