.navbar {
  display: flex;
  align-items: center;
  background-color: #000000;
  color: #fff;
  /*padding: 10px;*/
  height: 70px;
}

.company-name {
  margin: 0;
  height: 100%;
  /*text-align: center;*/
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  font-size: 1.5em;
  position: absolute;
}

.company-name h1 {
  margin: 0;
}

.logo {
  font-size: 1.5em;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 64px;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.container__inner {
  position: relative;
  flex-grow: 1;
  display: flex;
  width: 100%;
}
