/* You can add global styles to this file, and also import other style files */
:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

/**, *::before, *::after {*/
/*  box-sizing: border-box;*/
/*}*/


app-root {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0px 150px;
}
